<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- Use all available logical processors -->
    <MaxCpuCount>0</MaxCpuCount>

    <!-- Optional: Disable app domain creation to improve test performance -->
    <DisableAppDomain>true</DisableAppDomain>

    <!-- Kill the test session if it runs longer than 20 minutes per assembly -->
    <TestSessionTimeout>12000000</TestSessionTimeout>

    <!-- Optional: Set results directory -->
    <!-- <ResultsDirectory>.\TestResults</ResultsDirectory> -->
  </RunConfiguration>
</RunSettings>
